<tr>
  <td class="feed">
    <span class="url"><%= link_to h(feed.url),feed.url %></span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(feed.created_at) %>.
    </span>
  </td>
  <% if current_user==(feed.user) %>
  <td>
    <%= link_to "supprimer", feed, :method => :delete,
                                     :confirm => "Etes-vous certain ?",
                                     :title => feed.url %>
  </td>
  <% else %>
    <td class="feed">
    
    <span class="timestamp">
      Posted <%= time_ago_in_words(feed.created_at) %>.
    </span>
  <% end %>
</tr>




