h1.feed {
  margin-bottom: 0.3em;
}

table.feeds {
  margin-top: 1em;
}

table.feeds tr {
  height: 70px;
}


table.feeds tr td.feed {
  border-top: 1px solid #ccc;
  vertical-align: top;
  padding-top: 10px;
}

table.feeds tr td.feed span.timestamp {
  display: block;
  font-size: 85%;
  color: #666;
}

div.user_info img {
  padding-right: 0.1em;
}

div.user_info a {
  text-decoration: none;
}

div.user_info span.user_name {
  position: absolute;
}

div.user_info span.feeds {
  font-size: 80%;
}

form.new_feed {
  margin-bottom: 2em;
}

form.new_feed textarea {
  height: 4em;
  margin-bottom: 0;
}
